@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

/* Safe area for mobile */
.safe-area-top {
  height: env(safe-area-inset-top, 0px);
}
